/JavaApplication/nbproject/private/
/JavaApplication/build/
/JavaFXApplication3/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/build/
/JavaFXProgramming/nbproject/private/
/Java420FX/nbproject/private/
/Java420FX/build/
/Java420FX/dist/
/JavaFXProgramming/build/
/JavaApplication99/nbproject/private/
/JavaApplication99/build/
/JavaApplication99/dist/
/WebApplication/dist/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXProgramming/build/
/JavaApplication/dist/
/Hardware/nbproject/private/
/Hardware/dist/
/Hardware/build/
/TET/nbproject/private/
/TET/build/
/JavaFXCarApplication/nbproject/private/
/Network/nbproject/private/
/Network/build/
/Network/dist/
/SensingCar/nbproject/private/
/SensingCar/build/
/SensingCar/dist/
/Gyro/nbproject/private/
/Gyro/build/
/Gyro/dist/
/Mpu/nbproject/private/
/Mpu/build/
/Mpu/dist/
/MPU6050/nbproject/private/
/MPU6050/build/
/MPU6050/dist/
/PCServer/nbproject/private/
/PCServer/build/
/PCServer/dist/