<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- ServletContextListener 등록 (공통 객체(빈) 관리를 위한 설정-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> <!-- 어플리케이션 초기화 역할, 디플로이될때와 언디플로이 될때 실행,어플리케이션에서 가장 먼저 실행됨 -->
	</listener>

	<!-- DispatcherServlet 등록 및 URL 매핑 (해당 객체 관리를 위한 설정)-->
	<servlet>
		<servlet-name>dispatcher</servlet-name> <!-- 이름이 너무 기니까 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 해당 DispatcherServlet에서만 사용하는 빈 설정파일 -->
		<init-param>
			<param-name>contextConfigLocation</param-name> <!-- 마음대로 지정불가능한 이름, 대소문자도 똑같이 써야함 -->
			<param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
		</init-param>
		<!-- 웹 어플리케이션이 배치될 때 DispatcherServlet 생성 -->
		<load-on-startup>1</load-on-startup> <!-- 원래 SERVLET은 요청시 만들어 지는데 이것을 쓰면 실행됨과 동시에 만들어짐 -->
	</servlet>
	<servlet-mapping> <!-- 언제 얘를 실행할것인가, 어떤 경로로 실행을 했을때 실행할것인가 -->
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>   <!--(CONTEXT생략)/XXX/XXX 이라고 주면 정확히 이 경로가 들어와야 실행. / 만 쓰게 되면 언제라도 실행 -->
	</servlet-mapping>
	
	<!-- CharaterEncodingFilter 등록 및 URL 매핑(클라이언트가 한글을 보낼때 디코딩(복원)하기 위하여) -->
	<filter>
		<filter-name>encodingFilter</filter-name><!-- 마음대로 지정 가능한 이름 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern><!-- 여기서는 아래처럼 /로 안되고 /*라고 적는다. -->
	</filter-mapping>

</web-app>